<!DOCTYPE html>
<html lang="en">
<head>
<title> List of customers </title>
</head>
<body>
   <h1>customer lists</h1>
   <table>
       <thead>
            <th>
            id
           </th>
           <th>
            name
           </th>
           <th>
               mobile
           </th>
           <th>
            id_number
            </th>
            <th>
                address
            </th>
            <th>
                age
            </th>

       </thead>
       <tbody>
       {% for customer in customers %}
        <tr>
            <td><a href="{% url 'customer:customer_detail' customer.id %}"></a>{{customer.id}}
            </td>
            <td>
            {{ customer.name}}
            </td>
            <td>
                {{ customer.mobile}}
            </td>
            <td>
                {{ customer.id_number}}
            </td>
            <td>
                {{ customer.address}}
            </td>
            <td>
                {{ customer.age}}
            </td>
        
        </tr>
            {% endfor %}
       </tbody>
   </table>
</body>
</html>