<!DOCTYPE html>
<html lang="en">

<style>
    p{border: 2px solid rgb(83, 110, 29)}
    p{font-size: 30;}
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Peoples Bank  </title>
</head>

    <body>

        <h1> Welcome to the Peoples Bank</h1>

            <p><a href="{%url 'deposit_index' %}"> Deposit </a></p>
            <p><a href="{%url 'send_index' %}"> Send money money </a></p>
            <p><a href="{%url 'Acc_balance' %}"> Balance Inquiry </a></p>
            <p><a href="{%url 'withdrawal_index' %}"> Withdraw </a></p>
            <p>view statement</p>

    </body>

</html>
