<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students </title>
</head>

<body>
  
    <p>Students</p>
    <p>Name: {{ student.name }}</p>
    <table>
        <tr>
            
            <th>Name</th>
            <th>Score</th>
            
        </tr>
        {% for subject in subjects %}
        <tr>

            <td>{{subject.subject_name}}</td>
            <td>{{subject.score}}</td>

        {% endfor %}
        </tr>
    </table>
    
    <p><a href="{%url 'index' %}">Home</a></p>
</body>

</html>