 <!DOCTYPE html>
 <html lang="english">
<head>
 <title> List of students </title>
</head>
<body>
    <h1>List of all Students  {{school.name}}</h1>
    <table>
        <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Registration No
            </th>
            <th>
                Addresss    
            </th>

            <th>
                Age
            </th>
            <th>
               School 
            </th>
        </thead>
        <tbody>
    {% for student in students %}
    <tr>
        <td>
            <a href="{% url 'students:student_detail' %}">{{ student.id }}</a> 
        </td>
        <td>
        {{ student.name}}
        </td>
        <td>
            {{ student.registration_number}}
        </td>
        <td>
            {{ student.address}}
        </td>
        <td>
            {{ student.age}}
        </td> 
        <td>
            {{ student.school}}
        </td> 
        
    </tr>
    <p></p>
    {% endfor %}
        </tbody>
    </table>
    <p><a href="{%url 'index' %}">Home</a></p>
</body>
 </html>