<!-- creating form that adds a subject -->
<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset= "UTF-8" >
        <title> Add subject</title>
    </head>
    <body>
        <h2>Add new subject</h2>

        <form action="{% url 'subjects:add'%}" method="post" name="frmSubjects">
            {%csrf_token %}

            <label for="subject_name">subject_name: </label>
            <input id="subject_name" type="text" name="subject_name" values="">
            <br>
            <br>
            <label for="score"> score: </label>
            <input id="score" type="text" name="score" values="">
            <br>
            <br>
            <label for="student">student: </label>
            <select name="student" id="">
            <option value="">Select a student</option>
            {% for student in students %}
                <option value="{{ student.id }}">{{ student.name }}</option>
            {% endfor %}
        
            <input type ="submit" value="save">

        </form>
    </body>

</html>