<!DOCTYPE html>
<html lang="en">
<head>
<title> List of subjects </title>
</head>
<body>
   <h1>subjects lists</h1>
   <table>
       <thead>
           <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                 Score
            </th>
            <th>
                student
            </th>
       </thead>
       <tbody>
   {% for subject in subjects %}
   <tr>
    <td>
        <a href="% url 'subject_detail' subject.id %}">{{ subject.id }}</a>
        </td>
       <td>
       {{ subject.subject_name}}
       </td>
       <td>
           {{ subject.score}}
       </td>
       <td>
        {{ subject.student}}
    </td>
   </tr>
   <p></p>
   {% endfor %}
       </tbody>
   </table>
   <p><a href="{%url 'index' %}">Home</a></p>
</body>
</html>