<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject</title>
</head>

<body>
    <h2>Subjects for : {% for studentname in student_name%}
        {{studentname.name}}
        {% endfor %}
    </h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Grade</th>

        </tr>
        {% for subject in all_student_subjects%}
        <tr>
            <td>{{subject.name}}</td>
            <td>{{subject.score}}</td>
            <td>{{subject.ShowGrade}}</td>

            {% endfor %}
        </tr>
    </table>
    <p><a href="{% url 'students' %}">Home</a></p>
</body>

</html>