<!-- #creating a form that sends money to another recepient -->

<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset= "UTF-8" >
        <title> Load Money</title>     
    </head>
    <body>

        <form action="{% url 'transactions:deposit_index'%}" method="post" name="frmloadMoney">
            {%csrf_token %}

            <label for="amount">Amount: </label>
            <input id="amount" type="text" name="amount" values="">
            <br>
            <br>
            <label for="AccNo">Account number: </label>
            <input id="AccNo" type="number" name="AccNo" values="">
            <br>
            <br>
            <input type ="submit" value="save">

        </form>
    </body>

</html>