<!DOCTYPE html>
<html lang="en">
<head>
<title> List of transactions </title>
</head>
<body>
   <h1>transaction lists</h1>
   <table>
       <thead>
           <th>
            recipient_name
           </th>
           <th>
               mobile
           </th>
           <th>
            amount
        </th>
        <th>
            customer
        </th>
       </thead>
       <tbody>
   {% for transaction in transactions %}
   <tr>
       <td>
       {{ transaction.recipient_name}}
       </td>
       <td>
           {{ transaction.mobile}}
       </td>
       <td>
        {{ transaction.amount}}
    </td>
    <td>
        {{transaction.customer}}
    </td>
   </tr>
   <p></p>
   {% endfor %}
       </tbody>
   </table>
</body>
</html>