<!-- #creating a form to add schools -->

<!DOCTYPE html>
<html lang='eng'>
    <head>
        <meta charset= "UTF-8" >
        <title> Add school</title>     
    </head>
    <body>
        <h2>Add new school</h2>

        <form action="{% url 'schools:add'%}" method="post" name="frmSchool">
            {%csrf_token %}

            <label for="code">Code: </label>
            <input id="code" type="text" name="code" values="">
            <br>
            <br>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" values="">
            <br>
            <br>
            <label for="address">Address: </label>
            <input id="address" type="text" name="address" values="">
            <br>
            <br>
            <label for="nofstud">No of students: </label>
            <input id="nofstud" type="number" name="no_of_students" values="">
            <br>
            <br>
            <input type ="submit" value="save">

        </form>
    </body>

</html>